*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto  1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main "
    "sidebar footer";
    background-color: #595959;
} 
/*Nav*/
nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #6488EA;
    padding: 1em;
}
nav > h2 {
    margin-left: 286px;
}
nav > button {
    margin-left: 92vw;
    border: 0;
    width: 2vw;
    height: 2.5vh;
}
nav > button > img {
    width: calc(inherit + 1px);
    height: calc(inherit + 1px);
}
/*menu*/
aside{
    position: sticky;
    grid-area: sidebar;
    background-color: darkgray;
}
aside > button {
    width: 290px;
    margin-left: 5px;
    margin-right: 5px;
    height: 5vh;
    display: flex;
    align-items: center;
}
#new {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
}
/*main*/
main {
    grid-area: main;
    background-color: lightgray;
    border: 2px #595959;
    border-radius: 5px;
}
main > div {
    display: flex;
    justify-self: center;
    align-items: center;
    border: 5px lightgray;
    margin: 5px;
}
main > div > button {
    border: 0;
    width: 64px;
    height: 64px;
    background-color: transparent;
}
main > div > button > img {
    width: 32px;
    height: 32px;
    
}

/*footer*/
footer {
    grid-area: footer;
    display: flex;
    background-color: lightgrey;
    padding: 2em;
}
footer > input{
    box-sizing: border-box;
    width: 89%;
    height: 4vh;
    background-color: #595959;
    border: 0;
    border-radius: 5px;
}
footer > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 4vh ;
    border: 0;
    border-radius: 5px;
}

