body{
  margin: 0;
}
.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}
.menu {
  grid-row: 2;
  grid-column: 1;
  float: left;
}
.menu-button {
  width: 10vw;
  height: 9vh;
}
.footer {
  grid-row: 3;
  grid-column: 2;
}
.footer2{
  grid-row: 3;
  grid-column: 3;
}
.dodaj {
  width: 3vw;
  height: 5vh;
}
.pole {
  width: 66vw;
  height: 5vh;
}